# Dependency directories
node_modules/
jspm_packages/
web_build/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Expo directories
.expo/
dist/
web-build/

# Native builds directories
ios/
android/

# Editor/OS directories
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Server lockfiles/builds
server/dist/
server/build/
